/*+++++++++++
ISSUES
+++++++++++ */

.issueTitle{
  font-size: 30px;
}

.issuesHeading{
  color: black;
}

#logoHolder{
  max-height: 350px;
}

/*+++++++++++
HOME PAGE
+++++++++++ */

.intro{
  font-family: Baskerville, georgia, serif;
  font-variant: small-caps;
}

#introName{
  font-size: 82px;
}

/*+++++++++++
IMAGES
+++++++++++ */

.photo{
  border: 1px solid black;
}

#spainPhoto{
  width: 30%;
}

#headshot{
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#caminoPhoto{
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#scottInHuntsville{
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#logo{
  max-width: 100%;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/*+++++++++++
CONTACT
+++++++++++ */

#bigSam{
  max-height: 350px;
  margin-top: 50px;
}

/*+++++++++++
FOOTER
+++++++++++ */

#footerLinks{
  padding-left: 80px;
}

#fbLink{
  height: 50px;
}

  .footerLinks{
  color: white;
}

.footerLinks:hover{
  color: yellow;
}

/*+++++++++++
PARALAX DEFAULTS
+++++++++++ */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}